SUBDIRS :=

PFs := VATDEF.FILE
MODULEs := VAT300.MODULE
SRVPGMs := FVAT.SRVPGM

VAT300.MODULE: $(d)/VAT300.RPGLE

FVAT.SRVPGM: $(d)/FVAT.BND VAT300.MODULE
FVAT.SRVPGM: TEXT = 'Functions VAT'

VATDEF.FILE: $(d)/VATDEF.PF SAMREF.FILE
